* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Estilos de barra de navegacion principal*/
body {
  font-family: sans-serif;
  margin-top: 80px;
}

.header1 {
  background-color: rgba(63, 139, 151, 0.9960784314);
  background-color: rgba(34, 136, 192, 0.766);
  background-image: linear-gradient(to right, rgba(27, 111, 96, 0.629), rgb(39, 125, 141), rgb(39, 125, 141));
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.header1 .nav-toggle1 {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  display: none;
  cursor: pointer;
}
.header1 .nav1 {
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0px auto;
}
.header1 .nav1 .nav-link1 {
  color: white;
  text-decoration: none;
}
.header1 .nav1 .logo1 {
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;
}
.header1 .nav1 .logo1 .logo-img {
  height: 75px;
}
.header1 .nav1 .nav-menu1 {
  display: flex;
  margin-right: 40px;
  list-style: none;
}
.header1 .nav1 .nav-menu1 .nav-menu-item1 {
  font-size: 18px;
  margin: 0 12px;
  line-height: 80px;
  text-transform: uppercase;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.header1 .nav1 .nav-menu1 .nav-menu-item1 .nav-menu-link_active1 {
  background-color: #034574;
}
.header1 .nav1 .nav-menu1 .nav-menu-item1 .nav-menu-link1 {
  padding: 8px 12px;
  border-radius: 3px;
}
.header1 .nav1 .nav-menu1 .nav-menu-item1 .nav-menu-link1:hover {
  background-color: #034574;
  transition: 0.5s;
}

.carousel {
  z-index: 1;
}

/*comienzo de esqueleto de inicio*/
.subtitulo {
  background-color: rgb(39, 125, 141);
  color: white;
  text-align: center;
  padding: 5px;
  margin: 7px 0px;
  text-shadow: 0 0 3px gray;
}

.sub-container-ofertas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sub-container-ofertas .img-ofertas {
  width: 350px;
  height: auto;
  margin: 20px 10px;
  border: 1px solid rgb(5, 62, 83);
  border-radius: 5px;
  cursor: pointer;
}
.sub-container-ofertas .sub-img-ofertas {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.titulo-productos {
  margin-top: 40px;
}

/*termina esqueleto de inicio , OFERTAS Y PRODUCTOS*/
/*comienza pagina de productos*/
.nav3 {
  background-color: rgb(178, 235, 245);
  margin-top: 2px;
}

.item, .nosotros-container div div .nosotros-text, .titulo1-nosotros {
  text-align: center;
}
.item:hover, .nosotros-container div div .nosotros-text:hover, .titulo1-nosotros:hover {
  transform: scale(1.07);
  transition: 1.7s;
}
.item .nuevo-estilo, .nosotros-container div div .nosotros-text .nuevo-estilo, .titulo1-nosotros .nuevo-estilo {
  margin: 10px;
  border: solid 1px rgb(18, 102, 84);
  padding: 2px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
}

/*comienza pagina de servicio tecnico*/
.mesa-trabajo {
  width: 100%;
}

.mesa-trabajo-img1 {
  width: 100%;
}

.mesa-trabajo-img2 {
  display: none;
}

.servicios-caja {
  padding: 30px 0px;
  display: grid;
  grid-template-areas: "item1" "item2" "item3";
  justify-content: center;
}
.servicios-caja .servicios-item1 {
  grid-area: "item1";
}
.servicios-caja .servicios-item2 {
  grid-area: "item2";
}
.servicios-caja .servicios-item3 {
  grid-area: "item3";
}

.servicios-item {
  width: 320px;
  margin: 30px 50px;
}
.servicios-item .img-1 {
  width: 320px;
  border: 3px solid rgb(46, 90, 100);
  border-radius: 15px;
}
.servicios-item .img-whatssapp {
  width: 320px;
  height: 70px;
  text-align: center;
}

/*termina pagina de servicio tecnico*/
/*comienzo esqueleto de nosotros*/
.body-nosotros {
  background-color: rgb(252, 255, 254);
}

.titulo1-nosotros {
  text-transform: uppercase;
  margin-top: 100px;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(90, 192, 210);
}

.nosotros-container div div .nosotros-text {
  padding: 10px 20px;
  overflow: auto;
}
.nosotros-container div div img {
  border: 1px solid rgb(49, 111, 220);
  border-radius: 4px;
}

.estilo-nosotros {
  padding: 28px 15px;
}

.estilo-nosotros2 {
  margin: 20px 15px;
  cursor: pointer;
}
.estilo-nosotros2:hover {
  transform: scale(1.15);
  transition: 1s;
}
.estilo-nosotros2 .galeria-nosotros {
  border: 2px solid rgb(39, 125, 141);
  border-radius: 15px;
}

.estilo-mapa {
  margin-top: 25px;
}
.estilo-mapa .mapa {
  width: 100%;
}

.estilo-tarjeta {
  margin: 30px 5px;
}
.estilo-tarjeta .img-tarjeta {
  border: 2px solid rgb(39, 125, 141);
  border-radius: 15px;
}

/*termina  esqueleto de nosotros*/
/*estilos de formulario*/
.cuerpo-contacto {
  background-color: rgb(15, 108, 113);
  color: white;
  font-family: quicksand, sans-serif;
  padding: 0 1.5em;
}
.cuerpo-contacto .container-contacto {
  padding: 0 1.5em;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.cuerpo-contacto .titulo-contactanos {
  text-align: center;
  font-size: 2.5em;
  padding: 0.8em 0em;
}
.cuerpo-contacto .contacto-caja {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}
.cuerpo-contacto .contacto-caja > * {
  padding: 1em;
}
.cuerpo-contacto .contacto-form {
  background: rgb(17, 92, 96);
}
.cuerpo-contacto .contacto-form form p {
  margin: 0;
  padding: 1em;
}
.cuerpo-contacto .contacto-form form button {
  background-color: #c83a3a;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
  color: black;
}

.boton, .contacto-form form textarea, .contacto-form form input {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  border-bottom: 1px solid #d41844;
  color: white;
  outline: none;
}

.contacto-form form button:hover,
.contacto-form form button:focus {
  background-color: #c83a3a;
  color: white;
  transition: backgroud-color 1s ease-out;
  outline: 0;
}

.contacto-info {
  background: rgb(9, 86, 92);
  text-align: center;
}
.contacto-info h4 {
  padding: 15px 0;
  padding-top: 30px;
}
.contacto-info ul li {
  list-style: none;
  padding: 4px;
}
.contacto-info ul li i {
  padding-right: 8px;
}
.contacto-info p {
  padding: 7px 0;
}

/*termina estilos de formulario*/
/*comienza footer*/
.footer {
  text-align: left;
  background-color: rgb(39, 125, 141);
  color: white;
  padding: 30px 20px 15px 30px;
  display: flex;
  flex-wrap: wrap;
}
.footer .footer-item {
  margin: 8px 7px;
  padding: 5px 2px;
}

.footer-p {
  margin: 7px 2px;
  padding: 12px 14px 4px 4px;
  opacity: 0.7;
}

.footer-lista {
  list-style: none;
  opacity: 0.7;
}
.footer-lista li {
  padding: 4px 0;
}

.redes {
  font-size: 35px;
  letter-spacing: 5px;
}
.redes i:hover {
  color: aqua;
  cursor: pointer;
}

.footer-text {
  text-align: center;
  font-size: 25px;
  opacity: 0.8;
  padding-top: 30px;
}

/*termina footer*/
/*whastapp*/
.whatsapp {
  width: 60px;
  height: 60px;
  color: rgb(42, 183, 42);
  position: fixed;
  bottom: 45px;
  right: 45px;
  text-align: center;
  font-size: 50px;
}
.whatsapp a i {
  color: rgb(42, 183, 42);
}
.whatsapp a i:hover {
  transform: scale(1.25);
  transition: 1s;
}

/*comienza los @media*/
@media screen and (max-width: 540px) {
  .navbar {
    height: 55px;
  }
  .navbar img {
    width: 80px;
    height: 45px;
    padding-bottom: 8px;
  }
}
@media screen and (min-width: 720px) {
  .mesa-trabajo-img1 {
    display: none;
  }
  .mesa-trabajo-img2 {
    background-image: url("./multimedia/mesa v2.png");
    background-size: 100%;
  }
  .mesa-servicio {
    width: 100%;
    height: 400px;
  }
  .barra-productos {
    display: none;
  }
  .estilo-tarjeta {
    margin-bottom: 40px;
  }
  .titulo-contactanos {
    font-size: 3em;
  }
  .img-ofertas {
    width: 400px;
    height: auto;
  }
  .servicios-item {
    width: 380px;
    margin: 100px 0px;
  }
  .servicios-item .img-1 {
    width: 380px;
  }
  .servicios-item .img-whatssapp {
    width: 380px;
    height: 80px;
  }
}
@media screen and (max-width: 719px) {
  .barra-productos2 {
    display: none;
  }
}
/*responsive para barra de navegacion principal*/
@media screen and (max-width: 880px) {
  body {
    margin-top: 60px;
  }
  .header1 {
    height: 60px;
  }
  .header1 .nav1 .nav-toggle1 {
    display: block;
  }
  .header1 .nav1 .logo1 {
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
  }
  .header1 .nav1 .logo1 .logo-img {
    height: 50px;
  }
  .header1 .nav1 .nav-menu1 .nav-menu-item1 {
    line-height: 70px;
  }
  .header1 .nav1 .nav-menu1 .nav-menu-item1 .nav-menu-link_active1 {
    background: none;
    color: #83c5f7;
  }
  .header1 .nav1 .nav-menu1 .nav-menu-item1 .nav-menu-link1:hover {
    background: none;
    color: #83c5f7;
  }
  .nav-menu1 {
    flex-direction: column;
    margin-right: 20px;
    background-color: #2c3e50;
    position: fixed;
    top: 60px;
    width: 100%;
    align-items: center;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 0%;
    transition: left 0.3s;
    z-index: 2;
  }
  .nav-menu1-visible {
    left: 100%;
  }
  .nav-toggle1:focus:not(:focus-visible) {
    outline: none;
  }
  .titulo1-nosotros {
    margin-top: 80px;
  }
}
@media screen and (min-width: 980px) {
  .carousel-item1 {
    background-image: url("./multimedia/Reparacion de celulares y tablets v2.png");
    background-size: 100% 380px;
  }
  .carousel-item2 {
    background-image: url("./multimedia/completa v2.jpg");
    background-size: 100% 380px;
  }
  .carousel-img {
    visibility: hidden;
  }
  .nosotros-text {
    padding: 10px 40px;
  }
  .estilo-nosotros2 {
    margin: 20px 35px;
  }
  .mapa {
    width: 100%;
    height: 250px;
    padding-top: 10px;
  }
  .contacto-info h4,
.contacto-info ul li,
.contacto-info p {
    text-align: left;
  }
  .carousel-img {
    height: 380px;
  }
  .sub-container-ofertas .img-ofertas {
    width: 400px;
  }
  .servicios-caja {
    display: grid;
    grid-template-areas: "item1 item2" "item3 item3";
    margin: 100px 0px;
    grid-column-gap: 180px;
  }
  .servicios-item {
    width: 400px;
  }
  .servicios-item .img-1 {
    width: 400px;
  }
  .servicios-item .img-whatssapp {
    width: 400px;
    height: 100px;
  }
}/*# sourceMappingURL=estilos.css.map */